.App {
  text-align: center;
}
div.content p{
  line-height: 1.7rem;
  margin: 30px 0;
}
div.content li{
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.code-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(
    2px
  ); /* for safari browser (i mean who use it nowadays but google says so) */
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-popup {
  background-color: #1b2430;
  padding: 2px 20px 20px 20px;
  border-radius: 25px;
  max-height: 85vh;
  max-width: 70vw;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555);
}

.code-popup pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code-popup button {
  margin-top: 10px;
}
/* View Code CSS end */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


  .select {
    border-radius: 10px;
    border: 2px solid #9d9b9b;
    background-color: #1b2430;
    margin: 10px 0;
    padding: 5px 9px;
    color: #fff;
}
.btnView{
  background-color:red;
  border-radius: 10px;
  padding: 4px 5px;
  color: #fff;
  margin: 45px 0;
  cursor: pointer;
}
.submilink {
  color: #a3fbee;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
}
.mainpage{
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.problemtable {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 89.5vh;
  width: 100%;
  /* background-color: #404d5e; */
}
.content-table {
  border-collapse: collapse;
  color: black;
  margin: 10px auto;
  font-size: 0.9em;
  min-width: 1000px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  /* box-shadow: 0 5px 200px rgba(5, 255, 197, 0.555); */
  justify-content: center;
  align-items: center;
}

.content-table thead tr {
  background-color: #620524;
  color: #fff;
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 10px 15px;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #e3e1e1;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 3.5px solid #cf1736;
}

.content-table a {
  text-decoration: underline;
  color: #3481e7;
  font-weight: bold;
}

.content-table a:hover {
  color: #17cf97;
}

.Easy {
  color: #3bc240;
  font-weight: bold;
}

.Medium {
  color: #f1a824;
  font-weight: bold;
}

.Hard {
  color: #d23636;
  font-weight: bold;
}